@model List<FeatureListDto>


<section class="blog_w3ls pb-lg-5 pb-4" id="posts">
	<div class="container py-sm-5 py-4">
		<div class="title-desc text-center pb-sm-3 mb-lg-5">
			<h3 class="main-title-w3pvt">Son Bloglar</h3>
			<p>Doğanın ne kadar güçlü, ne kadar yüce olduğunu fark etmek, zamansızlık hissiyle birleşir</p>
		</div>
		<div class="row mt-4">

			@foreach (var item in Model)
			{
				<div class="col-lg-4 col-md-6 mt-sm-0 mt-4">
					<div class="card">
						<div class="card-header p-0 position-relative">
							<a >
								<img class="card-img-bottom" src="@item.ImagerUrl" alt="Card image cap">
								<span class="fa fa-user post-icon bg-theme" aria-hidden="true" data-blast="bgColor"></span>

							</a>
						</div>
						<div class="card-body">
							<h5 class="blog-title card-title font-weight-bold">
								<a href="#exampleModal2" data-toggle="modal" aria-pressed="false" data-target="#exampleModal2"
							   role="button">@item.Title</a>
							</h5>
							<p>
								@item.Descriptin.Substring(0,100)...
							</p>
							<label class="mt-2"> <span class="fa fa-calendar mr-3"></span>@item.CreatedDate.ToShortDateString()</label>
							@if (item.Title == "Kızıl Tilki")
							{
								<button type="button" class="btn blog-btn wthree-bnr-btn" data-toggle="modal" aria-pressed="false"
								data-target="#exampleModal2">
									Daha Fazla
								</button>
							}
							@if (item.Title == "Anadolu Sincabı")
							{
								<button type="button" class="btn blog-btn wthree-bnr-btn" data-toggle="modal" aria-pressed="false"
								data-target="#exampleModal3">
									Daha Fazla
								</button>
							}
							@if (item.Title == "Alageyik")
							{
								<button type="button" class="btn blog-btn wthree-bnr-btn" data-toggle="modal" aria-pressed="false"
								data-target="#exampleModal4">
									Daha Fazla
								</button>
							}

						</div>
					</div>
				</div>
			}


		</div>
	</div>
</section>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
	 aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">Signin</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<form action="#" method="post" class="p-sm-3">
					<div class="form-group">
						<label for="recipient-name" class="col-form-label">Username</label>
						<input type="text" class="form-control" placeholder="" name=" name" id="recipient-name"
							   required="">
					</div>
					<div class="form-group">
						<label for="password" class="col-form-label">Password</label>
						<input type="password" class="form-control" placeholder="" name="Password" id="password"
							   required="">
					</div>
					<div class="right-w3l">
						<input type="submit" class="form-control" value="Login">
					</div>
					<div class="row sub-w3l my-3">
						<div class="col-sm-6 sub-w3_pvt">
							<input type="checkbox" id="brand1" value="">
							<label for="brand1">
								<span></span>Remember me?
							</label>
						</div>
						<div class="col-sm-6 forgot-w3l text-sm-right">
							<a href="#" class="text-secondary">Forgot Password?</a>
						</div>
					</div>
					<p class="text-center dont-do modal-footer1">
						Don't have an account?
						<a href="#" data-toggle="modal" data-target="#exampleModal1" class="font-weight-bold"
						   data-blast="color">
							Register Now
						</a>

					</p>
				</form>
			</div>
		</div>
	</div>
</div>
<!-- //login -->
<!-- register -->
<div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1"
	 aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel1">Register</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<form action="#" method="post" class="p-sm-3">
					<div class="form-group">
						<label for="recipient-name" class="col-form-label">Username</label>
						<input type="text" class="form-control" placeholder="" name=" name" id="recipient-rname"
							   required="">
					</div>
					<div class="form-group">
						<label for="recipient-email" class="col-form-label">Email</label>
						<input type="email" class="form-control" placeholder="" name="Email" id="recipient-email"
							   required="">
					</div>
					<div class="form-group">
						<label for="password1" class="col-form-label">Password</label>
						<input type="password" class="form-control" placeholder="" name="Password" id="password1"
							   required="">
					</div>
					<div class="form-group">
						<label for="password2" class="col-form-label">Confirm Password</label>
						<input type="password" class="form-control" placeholder="" name="Confirm Password" id="password2"
							   required="">
					</div>
					<div class="sub-w3l">
						<div class="sub-w3_pvt">
							<input type="checkbox" id="brand2" value="">
							<label for="brand2" class="mb-3">
								<span></span>I Accept to the Terms & Conditions
							</label>
						</div>
					</div>
					<div class="right-w3l">
						<input type="submit" class="form-control" value="Register">
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
<!-- // register -->
@foreach (var item in Model)
{
	if (item.Title == "Kızıl Tilki")
	{
		<div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel2"
	 aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered" role="document">
				<div class="modal-content">
					<div class="modal-header bg-theme">
						<h5 class="modal-title" id="exampleModalLabel2">@item.Title</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body text-center">
						<img src="@item.ImagerUrl" class="img-fluid" alt="" />
						<p class="text-left my-4">
							@item.Descriptin
						</p>
					</div>
				</div>
			</div>
		</div>

	}



	if (item.Title == "Anadolu Sincabı")
	{
		<div class="modal fade" id="exampleModal3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel3"
	 aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered" role="document">
				<div class="modal-content">
					<div class="modal-header bg-theme">
						<h5 class="modal-title" id="exampleModalLabel3">@item.Title</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body text-center">
						<img src="@item.ImagerUrl" class="img-fluid" alt="" />
						<p class="text-left my-4">
							@item.Descriptin
						</p>
					</div>
				</div>
			</div>
		</div>
	}



	if (item.Title == "Alageyik")
	{
		<div class="modal fade" id="exampleModal4" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel4"
	 aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header bg-theme">
				<h5 class="modal-title" id="exampleModalLabel4">@item.Title</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body text-center">
				<img src="@item.ImagerUrl" class="img-fluid" alt="" />
				<p class="text-left my-4">
					@item.Descriptin
				</p>
			</div>
		</div>
	</div>
</div>

	}

}



