@model List<BlogListDto>


<div class="w3lspvt-about py-md-5 py-5" id="services">
	<div class="container pt-lg-5">
		<div class="title-desc text-center pb-sm-3">
			<h3 class="main-title-w3pvt">Çalışmalarımız ve raporları</h3>
			<p>Hayvnlara yardım etmek ve Çevre Sorunları Üzerinde Çalışmak.</p>
		</div>
		<div class="w3lspvt-about-row row  text-center pt-md-0 pt-5 mt-lg-5">
			@foreach (var item in Model)
			{



				@if (item.Title.Contains("Yayasan Gezegen"))
				{
					<div class="col-lg-4 col-sm-6 w3lspvt-about-grids">

						<div class="p-md-5 p-sm-3">
							<span class="fa fa-map-marker" data-blast="borderColor"></span>
							<h4 class="mt-2 mb-3"><a href="@item.ImageUrl" target="_blank" data-blast="color" style="text-decoration:underline">@item.Title</a></h4>
							<p>@item.Description.Substring(0,80)</p>
						</div>
					</div>

				}
				

				@if (item.Title.Contains("Türkiyenin Canı"))
				{
					<div class="col-lg-4 col-sm-6 w3lspvt-about-grids  border-left border-right my-sm-0 my-5">
						<div class="p-md-5 p-sm-3">
							<span class="fa fa-check-circle-o" data-blast="borderColor"></span>
							<h4 class="mt-2 mb-3"><a href="@item.ImageUrl" target="_blank" data-blast="color" style="text-decoration:underline">@item.Title</a></h4>
							<p>@item.Description.Substring(0,80)</p>

						</div>

					</div>
				}


				@if (item.Title.Contains("Tek Dünya Kentleri"))
				{
					<div class="col-lg-4 w3lspvt-about-grids">

						<div class="p-md-5 p-sm-3">
							<span class="fa fa-paw" data-blast="borderColor"></span>
							<h4 class="mt-2 mb-3"><a href="@item.ImageUrl" target="_blank" data-blast="color" style="text-decoration:underline">@item.Title</a></h4>
							<p>@item.Description.Substring(0,80)</p>
						</div>
					</div>
				}




			}
			

		</div>



		@await Component.InvokeAsync("_BlogPartial2")

	</div>
</div>